# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Composer dependencies
/vendor/
composer.lock

# Environment files
env.php
